:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #22d4fd;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-tercearia:  #e9760a;

}
*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('/img/logo-grafica.png');
    background-size: cover;  /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem na tela */
    position: relative;
    
    
}

body::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: rgba(255, 255, 255, 0.5); /* Cor branca com 50% de opacidade */
    pointer-events: none; /* Evita que a marca d'água interfira com outros elementos */
    z-index: 1; /* Garante que a marca d'água fique acima do fundo */
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    border: 2px solid #acb6ec;
    padding: 8px;
    text-align: right;
}

th {
    background-color: #5bc3f3;
    text-align: center;
}

.ajusteTabela {
    display: flex;
    justify-content: space-between; /* Ajusta o espaçamento entre as tabelas */
    font-weight: bold;
    background-color: rgb(218, 231, 196);
}

#result, #res {
    width: 48%; /* Define a largura de cada tabela */
    border: 1px solid rgb(194, 4, 4); /* Adiciona uma borda para visualização */
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 1.0rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.0rem;
    font-family: var(--fonte-secundaria);
    
}
.rodape_contato img{
    width: 3%;        /* Ajuste da largura */
    height: auto;        /* Mantém a proporção da imagem */
    margin-right: 1px;
    margin-left: 10px;
    vertical-align: middle; 
    
}
